@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1626169475789') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e615";
}

.icon-search:before {
  content: "\e706";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-Dyanjing:before {
  content: "\e8ad";
}

.icon-caidan:before {
  content: "\e8ae";
}

.icon-anquan:before {
  content: "\e8af";
}

.icon-bangzhu:before {
  content: "\e8b0";
}

.icon-buganxingqu:before {
  content: "\e8b1";
}

.icon-bofangjilu:before {
  content: "\e8b2";
}

.icon-chuangzuo:before {
  content: "\e8b3";
}

.icon-chenggong:before {
  content: "\e8b4";
}

.icon-ceshi:before {
  content: "\e8b5";
}

.icon-dianhua:before {
  content: "\e8b6";
}

.icon-dianzan:before {
  content: "\e8b7";
}

.icon-dingwei:before {
  content: "\e8b8";
}

.icon-diantong_guan:before {
  content: "\e8b9";
}

.icon-dianying:before {
  content: "\e8ba";
}

.icon-ditu:before {
  content: "\e8bb";
}

.icon-diantong_kai:before {
  content: "\e8bc";
}

.icon-dianyingpiao:before {
  content: "\e8bd";
}

.icon-dingdan:before {
  content: "\e8be";
}

.icon-gengduo:before {
  content: "\e8bf";
}

.icon-fanbei:before {
  content: "\e8c0";
}

.icon-faxian:before {
  content: "\e8c1";
}

.icon-ertongpiao:before {
  content: "\e8c2";
}

.icon-gongyi:before {
  content: "\e8c3";
}

.icon-hongbao:before {
  content: "\e8c4";
}

.icon-fuzhi:before {
  content: "\e8c5";
}

.icon-fenxiang:before {
  content: "\e8c6";
}

.icon-huatifuhao:before {
  content: "\e8c7";
}

.icon-huiyuan:before {
  content: "\e8c8";
}

.icon-jianshao:before {
  content: "\e8c9";
}

.icon-guanzhu:before {
  content: "\e8ca";
}

.icon-mima:before {
  content: "\e8cb";
}

.icon-saoyisao:before {
  content: "\e8cc";
}

.icon-shandian:before {
  content: "\e8cd";
}

.icon-shanchu:before {
  content: "\e8ce";
}

.icon-shengyin:before {
  content: "\e8cf";
}

.icon-add:before {
  content: "\e664";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-arrow-double-right:before {
  content: "\e666";
}

.icon-attachment:before {
  content: "\e667";
}

.icon-discount:before {
  content: "\e66d";
}

.icon-hide:before {
  content: "\e673";
}

.icon-pdf:before {
  content: "\e67a";
}

.icon-run-in:before {
  content: "\e67c";
}

.icon-stop:before {
  content: "\e67f";
}

.icon-telephone-out:before {
  content: "\e680";
}

.icon-minus-bold:before {
  content: "\e686";
}

.icon-favorite-filling:before {
  content: "\e68a";
}

.icon-help-filling:before {
  content: "\e68b";
}

.icon-fullscreen-expand-filling:before {
  content: "\e68c";
}

.icon-picture-filling:before {
  content: "\e68d";
}

.icon-notification-filling:before {
  content: "\e68e";
}

.icon-setting-filling:before {
  content: "\e68f";
}

.icon-warning-filling:before {
  content: "\e690";
}

.icon-map-filling:before {
  content: "\e691";
}

.icon-prompt-filling:before {
  content: "\e692";
}

